# DATA CLEANING AND WRANGLING

In [2]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\wwwsa\anaconda3\lib\site-packages (1.7.4.5)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle) (61.2.0)
Requirement already satisfied: protobuf in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle) (3.19.1)
Requirement already satisfied: webencodings in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: certifi>=14.05.14 in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle) (2021.10.8)
Requirement already satisfied: bleach in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: requests in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle) (2.27.1)
Requirement already satisfied: text-unidecode in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: six>=1.10 in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: idna in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle) (3.3)
Requirement already satisfied: tqdm in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle) (4.64.0)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle) (1.26.9)
Requirement already satisfied: python-slugify in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: charset-normalizer in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle) (2.0.4)
Requirement already satisfied: packaging in c:\users\wwwsa\anaconda3\lib\site-packages (from bleach->kaggle) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\wwwsa\anaconda3\lib\site-packages (from packaging->bleach->kaggle) (3.0.4)
Requirement already satisfied: colorama in c:\users\wwwsa\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.4)

In [3]:
!pip install opendatasets

Requirement already satisfied: opendatasets in c:\users\wwwsa\anaconda3\lib\site-packages (0.1.22)
Requirement already satisfied: kaggle in c:\users\wwwsa\anaconda3\lib\site-packages (from opendatasets) (1.7.4.5)
Requirement already satisfied: tqdm in c:\users\wwwsa\anaconda3\lib\site-packages (from opendatasets) (4.64.0)
Requirement already satisfied: click in c:\users\wwwsa\anaconda3\lib\site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: colorama in c:\users\wwwsa\anaconda3\lib\site-packages (from click->opendatasets) (0.4.4)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle->opendatasets) (61.2.0)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.27.1)
Requirement already satisfied: bleach in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: six>=1.10 in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: python-slugify in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: text-unidecode in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: certifi>=14.05.14 in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle->opendatasets) (2021.10.8)
Requirement already satisfied: webencodings in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle->opendatasets) (0.5.1)
Requirement already satisfied: idna in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle->opendatasets) (3.3)
Requirement already satisfied: charset-normalizer in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.0.4)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.26.9)
Requirement already satisfied: protobuf in c:\users\wwwsa\anaconda3\lib\site-packages (from kaggle->opendatasets) (3.19.1)
Requirement already satisfied: packaging in c:\users\wwwsa\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\wwwsa\anaconda3\lib\site-packages (from packaging->bleach->kaggle->opendatasets) (3.0.4)

In [4]:
import opendatasets as op
op.download('https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:

  harshitshankhdhar

Your Kaggle Key:

  ·················

Dataset URL: https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows
Downloading imdb-dataset-of-top-1000-movies-and-tv-shows.zip to .\imdb-dataset-of-top-1000-movies-and-tv-shows

100%|██████████| 175k/175k [00:00<00:00, 177MB/s]

In [16]:
import pandas as pd
import numpy as np
df= pd.read_csv('imdb-dataset-of-top-1000-movies-and-tv-shows/imdb_top_1000.csv')
df.head(5)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [17]:
df.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [18]:
df.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [20]:
df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

### DATA CLEANING

In [21]:
df[df.duplicated()]

Empty DataFrame
Columns: [Poster_Link, Series_Title, Released_Year, Certificate, Runtime, Genre, IMDB_Rating, Overview, Meta_score, Director, Star1, Star2, Star3, Star4, No_of_Votes, Gross]
Index: []

## No duplicates found

In [22]:
df.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [23]:
## there are some missing values in the dataset.

In [34]:
mod=df['Certificate'].mode()
df['Certificate']=df['Certificate'].fillna('U') # most certificates are of 'U'

In [36]:
mean=df['Meta_score'].mean()
df['Meta_score']=df['Meta_score'].fillna(mean)

In [37]:
df.Gross=df['Gross'].str.replace(',','')

In [38]:
df.Gross=df.Gross.replace(np.nan,0)
df.Gross=df.Gross.astype(int)

In [39]:
df.Gross=df.Gross.replace(0,df.Gross.mean())

In [40]:
df.Gross

0      2.834147e+07
1      1.349664e+08
2      5.348584e+08
3      5.730000e+07
4      4.360000e+06
           ...
995    5.653688e+07
996    5.653688e+07
997    3.050000e+07
998    5.653688e+07
999    5.653688e+07
Name: Gross, Length: 1000, dtype: float64

## Up to this point  we handled missing values, for categorical we fill the nan values with mode and for continous values we fill nan values with mean value of that column. we check the duplicates.

In [41]:
df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

## There are some unnecessary columns so we should remove those columns

In [42]:
df= df.drop(columns=['Poster_Link','Series_Title','Overview'],axis=1)

In [43]:
df.head()

,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,1994,A,142 min,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,1972,A,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,1974,A,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,1957,U,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0

In [44]:
df.Runtime= df.Runtime.str.extract('([^\s]+)')
df["Runtime"] = df["Runtime"][~(df["Runtime"] == "min")]
df["Runtime"] = df["Runtime"].astype(int)

In [45]:
df=df.drop(labels=np.where(df.Released_Year=='PG')[0][0],axis=0)

In [46]:
df.Released_Year= df.Released_Year.astype(int)

## Now we also validated the column data types

# Now we have the cleaned data for the project.

In [47]:
df.head()

,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,1994,A,142,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,1972,A,175,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,2008,UA,152,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,1974,A,202,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,1957,U,96,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0

In [48]:
df.columns

Index(['Released_Year', 'Certificate', 'Runtime', 'Genre', 'IMDB_Rating',
       'Meta_score', 'Director', 'Star1', 'Star2', 'Star3', 'Star4',
       'No_of_Votes', 'Gross'],
      dtype='object')

In [54]:
df.to_csv('Cleaned_Data_imdb.csv')

In [55]:
df.isnull().sum()

Released_Year    0
Certificate      0
Runtime          0
Genre            0
IMDB_Rating      0
Meta_score       0
Director         0
Star1            0
Star2            0
Star3            0
Star4            0
No_of_Votes      0
Gross            0
dtype: int64